@media screen and (max-width: 480px){
    .button-custom-responsive{
        font-size: $base-size*3 !important;
        padding: $base-size*3 $base-size*4 !important;
    }
}
@media screen and (min-width:968px) and (max-width:1200px){
    .button-custom-responsive{
        padding: $base-size*3 $base-size*3 !important;
    }
 }
@media screen and (max-width: 768px){
    .p-till-768-btn{
        padding: $base-size*3 $base-size*6 !important;
        font-size: $base-size*3;
    }
    .font-size_h-till768{
        font-size: $base-size*6 !important;
    }
    .font-size_p-till768{
        font-size: $base-size*3+1 !important;
    }
}